coverage==4.2
d2to1==0.2.12.post1
flake8
git+https://gerrit.wikimedia.org/r/p/pywikibot/core@master#egg=pywikibot==3.0.dev0
isort==4.2.5
mccabe==0.5.2
mock==2.0.0
pbr==1.10.0
pluggy==0.3.1
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==3.0.2
requests==2.11.1
six==1.10.0
testfixtures==4.10.1
tox==2.3.1
virtualenv==15.0.3
